workflows/backups.json
{"createdAt":"2025-08-12T13:06:31.054Z","updatedAt":"2025-08-12T13:32:01.000Z","id":"xitVr2VdPfRd6B4N","name":"backups","active":false,"isArchived":false,"nodes":[{"parameters":{"values":{"string":[{"name":"repo.owner","value":"Aspiand"},{"name":"repo.name","value":"n8n-backups"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"02263234-6ae2-4e49-8701-63ab2a42452f","name":"Globals","type":"n8n-nodes-base.set","position":[-2096,-368],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"3bacb67d-4f51-4fdd-93a6-5047e4e9a78a","name":"n8n","type":"n8n-nodes-base.n8n","position":[-1856,-368],"typeVersion":1,"credentials":{"n8nApi":{"id":"yd5BpxBJrH3vBANP","name":"n8n account"}}},{"parameters":{"options":{}},"id":"b8625fbc-b55a-4c46-9831-9f548bc6444f","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[-1632,-368],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"a9235764-3139-4b45-b046-25e0f86999da","name":"If","type":"n8n-nodes-base.if","position":[-1184,-288],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"edd8ebed-eda8-4b24-879f-cd601a42da97","name":"If1","type":"n8n-nodes-base.if","position":[-304,-16],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"6e4f49af-fc2a-4499-b8dd-bf477051b8c3","name":"Code","type":"n8n-nodes-base.code","position":[-624,-304],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"3ba4b8e4-3d6b-44fd-9f7d-e5978088c75d","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[-1008,-128],"typeVersion":1,"webhookId":"1d222c6f-56eb-4f31-b8d6-04f74230d3ec","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"b59239d7-1937-4e89-a83d-999e6f8b2475","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[64,192],"typeVersion":1,"webhookId":"7e4c2491-3037-4ffd-a426-6d150917f194","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"9d79fcf2-4b56-4b8e-9e56-d0832deafd39","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-2304,-368],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"f1b35480-b9d4-4bfc-919b-cbf6ed7015a1","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[224,224],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"5d2f9e9a-418b-4c3d-b025-6aea0b71e0fb","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-176,-16],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"1a0c4a66-ca0d-4bfe-8f05-db0102a2fb1b","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-896,-112],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"8ccd7b62-03ae-4a2c-9f45-2e6c310f0771","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-1184,-384],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"69bf0e60-c916-43ce-bec0-adb609216191","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-688,-416],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"4a5ab98c-d976-4c57-af30-e2f436ecc246","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-1904,-464],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"5915e683-3cfb-4e0c-8ff2-49de735129ad","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-2176,-224],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"b0f0696b-cd45-4d09-979b-fa0dec722618","name":"Get a file","type":"n8n-nodes-base.github","position":[-1392,-288],"typeVersion":1,"alwaysOutputData":true,"webhookId":"282630c3-e467-47bc-ae8b-bc97c58204fe","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"GitHub account"}},"continueOnFail":true}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get a file","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"2532","templateCredsSetupCompleted":true},"pinData":{},"versionId":"e7961d91-ceb5-4083-ba43-a9450aa3509d","triggerCount":0,"tags":[]}