workflows/backups.json
{"createdAt":"2025-08-12T13:06:31.054Z","updatedAt":"2025-08-12T13:25:48.000Z","id":"xitVr2VdPfRd6B4N","name":"backups","active":false,"isArchived":false,"nodes":[{"parameters":{"values":{"string":[{"name":"repo.owner","value":"Aspiand"},{"name":"repo.name","value":"n8n-backups"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"37295996-d338-4c23-9eb7-233abfa0dfde","name":"Globals","type":"n8n-nodes-base.set","position":[-2096,-368],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"47cccc99-0de7-47d5-868a-b49d54b0010b","name":"n8n","type":"n8n-nodes-base.n8n","position":[-1856,-368],"typeVersion":1,"credentials":{"n8nApi":{"id":"yd5BpxBJrH3vBANP","name":"n8n account"}}},{"parameters":{"options":{}},"id":"b16514ec-8aa5-4b65-9ddc-4ef0664864d2","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[-1632,-368],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"b29bad79-575e-4eed-97ad-78c369c9c777","name":"If","type":"n8n-nodes-base.if","position":[-1184,-288],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"1dfa1645-3f43-46b7-93d8-5f6593a511da","name":"If1","type":"n8n-nodes-base.if","position":[-304,-16],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"5800f495-b41c-407c-b033-34bcdb6fece4","name":"Code","type":"n8n-nodes-base.code","position":[-624,-304],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"53952f4b-0e39-4389-91b5-7a0ebb23a908","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[-1008,-128],"typeVersion":1,"webhookId":"fd30c160-59f5-40a5-bc8f-971a3b51b04e","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"3adbb6c5-c568-47db-8686-8fb7a4258944","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[64,192],"typeVersion":1,"webhookId":"eae761a5-deef-4965-bc23-a537f61dfc76","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"ecd895a7-00b0-4ac1-9960-212e917c6864","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-2304,-368],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"86b9a183-0f29-4730-9736-fac3e7418b72","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[224,224],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"e629232b-8975-4cc5-9bc1-83f60295ce1a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-176,-16],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"d2f8a365-4889-47f0-a15b-483245aa912f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-896,-112],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"3265f588-5479-42ab-a156-2bc01766ff0f","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-1184,-384],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"4e63b52a-0f64-4c43-83a2-e83a06e1efe8","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-688,-416],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"f1ec539b-1757-4411-a51a-6d51a7a79406","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-1904,-464],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"376c1b6d-b73a-44b9-8fb2-b81d12dc4a8a","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-2176,-224],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"ffc429ee-d2e5-44c5-bf73-06ad43a89904","name":"Get a file","type":"n8n-nodes-base.github","position":[-1392,-288],"typeVersion":1,"alwaysOutputData":true,"webhookId":"05833299-744d-44e6-9cb7-80884b4ad667","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"GitHub account"}},"continueOnFail":true}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get a file","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"2532","templateCredsSetupCompleted":true},"pinData":{},"versionId":"3f1e7d1c-1564-4637-b21c-52be1ba3d2f3","triggerCount":0,"tags":[]}