workflows/workflow-backups-v1.json
{"createdAt":"2025-08-12T13:06:31.054Z","updatedAt":"2025-08-13T03:46:35.000Z","id":"xitVr2VdPfRd6B4N","name":"workflow-backups-v1","active":false,"isArchived":false,"nodes":[{"parameters":{"values":{"string":[{"name":"repo.owner","value":"Aspiand"},{"name":"repo.name","value":"n8n-backups"},{"name":"repo.path","value":"workflows/"},{"name":"repo.branch","value":"main"}]},"options":{}},"id":"02263234-6ae2-4e49-8701-63ab2a42452f","name":"Globals","type":"n8n-nodes-base.set","position":[-1968,-368],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"3bacb67d-4f51-4fdd-93a6-5047e4e9a78a","name":"n8n","type":"n8n-nodes-base.n8n","position":[-1808,-368],"typeVersion":1,"credentials":{"n8nApi":{"id":"yd5BpxBJrH3vBANP","name":"n8n account"}}},{"parameters":{"options":{}},"id":"b8625fbc-b55a-4c46-9831-9f548bc6444f","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[-1424,-368],"executeOnce":false,"typeVersion":3},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"9d79fcf2-4b56-4b8e-9e56-d0832deafd39","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-2112,-368],"typeVersion":1.2},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{"reference":"={{$node[\"Globals\"].json[\"repo\"][\"branch\"]}}"}},"id":"b0f0696b-cd45-4d09-979b-fa0dec722618","name":"Get a file","type":"n8n-nodes-base.github","position":[-1152,-352],"typeVersion":1,"alwaysOutputData":true,"webhookId":"282630c3-e467-47bc-ae8b-bc97c58204fe","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"n8n backup"}},"continueOnFail":true},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=updated: {{ $('Loop Over Items').item.json.name }}.json","additionalParameters":{"branch":{"branch":"={{$node[\"Globals\"].json[\"repo\"][\"branch\"]}}"}}},"id":"b59239d7-1937-4e89-a83d-999e6f8b2475","name":"update file","type":"n8n-nodes-base.github","position":[-240,-176],"typeVersion":1,"webhookId":"7e4c2491-3037-4ffd-a426-6d150917f194","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"n8n backup"}}},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"6e4f49af-fc2a-4499-b8dd-bf477051b8c3","name":"decode","type":"n8n-nodes-base.code","position":[-704,-368],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"edd8ebed-eda8-4b24-879f-cd601a42da97","name":"workflow changed","type":"n8n-nodes-base.if","position":[-480,-208],"typeVersion":2.2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=created: {{ $('Loop Over Items').item.json.name }}.json","additionalParameters":{"branch":{"branch":"={{$node[\"Globals\"].json[\"repo\"][\"branch\"]}}"}}},"id":"3ba4b8e4-3d6b-44fd-9f7d-e5978088c75d","name":"add file","type":"n8n-nodes-base.github","position":[-704,-208],"typeVersion":1,"webhookId":"1d222c6f-56eb-4f31-b8d6-04f74230d3ec","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"n8n backup"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"a9235764-3139-4b45-b046-25e0f86999da","name":"is file exists","type":"n8n-nodes-base.if","position":[-944,-352],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8a6438a-2d67-47aa-bd10-6e519cc4b941","leftValue":"={{ $json.isArchived }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1632,-368],"id":"2f80c557-3b60-4d8d-b0c7-348b4138c9b6","name":"filter"}],"connections":{"n8n":{"main":[[{"node":"filter","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get a file","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"is file exists","type":"main","index":0}]]},"update file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"decode":{"main":[[{"node":"workflow changed","type":"main","index":0}]]},"workflow changed":{"main":[[{"node":"update file","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"add file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"is file exists":{"main":[[{"node":"decode","type":"main","index":0}],[{"node":"add file","type":"main","index":0}]]},"filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"2532","templateCredsSetupCompleted":true},"pinData":{},"versionId":"40ba7c13-ab37-472c-8f78-82b5e42e1375","triggerCount":0,"tags":[]}