workflows/workflow-backups.json
{"createdAt":"2025-08-12T13:06:31.054Z","updatedAt":"2025-08-12T14:42:35.000Z","id":"xitVr2VdPfRd6B4N","name":"workflow-backups","active":false,"isArchived":false,"nodes":[{"parameters":{"values":{"string":[{"name":"repo.owner","value":"Aspiand"},{"name":"repo.name","value":"n8n-backups"},{"name":"repo.path","value":"workflows/"},{"name":"repo.branch","value":"main"}]},"options":{}},"id":"02263234-6ae2-4e49-8701-63ab2a42452f","name":"Globals","type":"n8n-nodes-base.set","position":[-1968,-368],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"3bacb67d-4f51-4fdd-93a6-5047e4e9a78a","name":"n8n","type":"n8n-nodes-base.n8n","position":[-1808,-368],"typeVersion":1,"credentials":{"n8nApi":{"id":"yd5BpxBJrH3vBANP","name":"n8n account"}}},{"parameters":{"options":{}},"id":"b8625fbc-b55a-4c46-9831-9f548bc6444f","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[-1424,-368],"executeOnce":false,"typeVersion":3},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"9d79fcf2-4b56-4b8e-9e56-d0832deafd39","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-2112,-368],"typeVersion":1.2},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{"reference":"={{$node[\"Globals\"].json[\"repo\"][\"branch\"]}}"}},"id":"b0f0696b-cd45-4d09-979b-fa0dec722618","name":"Get a file","type":"n8n-nodes-base.github","position":[-960,-352],"typeVersion":1,"alwaysOutputData":true,"webhookId":"282630c3-e467-47bc-ae8b-bc97c58204fe","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"n8n backup"}},"continueOnFail":true},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json","additionalParameters":{"branch":{"branch":"={{$node[\"Globals\"].json[\"repo\"][\"branch\"]}}"}}},"id":"b59239d7-1937-4e89-a83d-999e6f8b2475","name":"update file","type":"n8n-nodes-base.github","position":[-48,-176],"typeVersion":1,"webhookId":"7e4c2491-3037-4ffd-a426-6d150917f194","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"n8n backup"}}},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"6e4f49af-fc2a-4499-b8dd-bf477051b8c3","name":"decode","type":"n8n-nodes-base.code","position":[-512,-368],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"edd8ebed-eda8-4b24-879f-cd601a42da97","name":"workflow changed","type":"n8n-nodes-base.if","position":[-288,-208],"typeVersion":2.2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json","additionalParameters":{"branch":{"branch":"={{$node[\"Globals\"].json[\"repo\"][\"branch\"]}}"}}},"id":"3ba4b8e4-3d6b-44fd-9f7d-e5978088c75d","name":"add file","type":"n8n-nodes-base.github","position":[-512,-208],"typeVersion":1,"webhookId":"1d222c6f-56eb-4f31-b8d6-04f74230d3ec","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"n8n backup"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"a9235764-3139-4b45-b046-25e0f86999da","name":"is file exists","type":"n8n-nodes-base.if","position":[-752,-352],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8a6438a-2d67-47aa-bd10-6e519cc4b941","leftValue":"={{ $json.isArchived }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1632,-368],"id":"2f80c557-3b60-4d8d-b0c7-348b4138c9b6","name":"filter"},{"parameters":{"content":"## Backup Flow\n","height":80,"width":192,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1232,-144],"id":"a3d24fbd-545e-4130-98b8-7e066a64c131","name":"Sticky Note"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $('Globals').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Globals').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('Globals').item.json.repo.path }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1200,-736],"id":"3452aa05-7d9b-4961-a56e-08c68a509587","name":"List files","webhookId":"2a1928a7-f20c-4a4c-a33b-00048ec9f931","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"n8n backup"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"append","field":"name"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-1424,-736],"id":"bfe20c7f-17a4-4120-b3f5-7189f15dd59b","name":"Summarize"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-704,-720],"id":"cfc9613c-9860-440c-8375-b3c3e71584ea","name":"delete file"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b6c21092-9135-4f13-be12-3a563c01c476","leftValue":"={{ $('Summarize').item.json.appended_name }}","rightValue":"={{ $json.name }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-992,-736],"id":"81b23436-cf9d-42e5-8321-0c5bbb8ad944","name":"file exists on summarize"}],"connections":{"n8n":{"main":[[{"node":"filter","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get a file","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"is file exists","type":"main","index":0}]]},"update file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"decode":{"main":[[{"node":"workflow changed","type":"main","index":0}]]},"workflow changed":{"main":[[{"node":"update file","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"add file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"is file exists":{"main":[[{"node":"decode","type":"main","index":0}],[{"node":"add file","type":"main","index":0}]]},"filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Summarize","type":"main","index":0}]]},"List files":{"main":[[{"node":"file exists on summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"List files","type":"main","index":0}]]},"file exists on summarize":{"main":[[],[{"node":"delete file","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"2532","templateCredsSetupCompleted":true},"pinData":{},"versionId":"1e401320-b90b-4f9e-997f-8c9ba44814e0","triggerCount":0,"tags":[]}