workflows/workflow-backups-v2.json
{"createdAt":"2025-08-12T05:29:06.103Z","updatedAt":"2025-08-12T11:42:31.000Z","id":"U2TuQ7hv8IYTlBMB","name":"workflow-backups-v2","active":false,"isArchived":false,"nodes":[{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"repo.owner","value":"Aspiand"},{"name":"repo.name","value":"n8n-backups"},{"name":"repo.branch","value":"main"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"a3c30eb5-7e6a-4fd1-ac13-d8df075fefcc","name":"Globals","type":"n8n-nodes-base.set","position":[176,0],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[400,0],"id":"cca783cc-dd7b-406d-abc2-45ff59eaaeb3","name":"Get All Workflows","credentials":{"n8nApi":{"id":"yd5BpxBJrH3vBANP","name":"n8n account"}}},{"parameters":{"content":"## TODO\n- remove file from repository","height":224,"width":256},"type":"n8n-nodes-base.stickyNote","position":[-432,-368],"typeVersion":1,"id":"3374ab97-d1cc-4d09-92c1-a94adf399f24","name":"Sticky Note"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('Globals').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Globals').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('Globals').item.json.repo.path }}{{ $('Filter Workflow').item.json.name }}.json","asBinaryProperty":false,"additionalParameters":{"reference":"={{ $('Globals').item.json.repo.branch }}"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[848,0],"id":"ee2d2434-a93a-4da5-9d94-0c4c6ae9b3d2","name":"Get a file","webhookId":"ad8dc755-7644-4c0b-8fa2-9d3673155bad","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0fba8066-16ba-474e-9715-cf0541bf2e74","leftValue":"={{ $json.isArchived }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[624,0],"id":"43cf3397-0dce-429f-8516-ebbe11763853","name":"Filter Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"540600cc-cf48-485b-89c4-0f3926097c26","leftValue":"={{ $json.decoded }}","rightValue":"={{ $('Filter Workflow').item.json.toJsonString()}}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1312,0],"id":"6b22d214-b7c9-430c-ac0f-6af6d98e6c59","name":"If"},{"parameters":{"mode":"runOnceForEachItem","language":"python","pythonCode":"import base64\nreturn {\n  \"decoded\": base64.b64decode(_input.item.json.content).decode(\"utf-8\")\n}\n_input.item.json.decoded = base64.b64decode(_input.item.json.content).decode(\"utf-8\")\nreturn _input.item"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,0],"id":"0e0d31ae-2feb-411c-a3df-8f4bd60965c2","name":"Decode"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Globals').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Globals').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('Get a file').item.json.path }}","fileContent":"={{ $('Filter Workflow').item.json.toJsonString() }}","commitMessage":"ehe"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1616,-144],"id":"4661f0cc-adfa-4ce1-b39b-b4251558fd7f","name":"Edit a file","webhookId":"8d6e7d57-0f7a-41e2-8535-0f4075fc1652","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"GitHub account"}}},{"parameters":{"content":"##\n- define credentials\n- get all workflow\n- filter workflow -> only not archived\n- get file at github\n- decode content\n- bandingkan\n- jika berbeda edit","height":240,"width":224,"color":5},"type":"n8n-nodes-base.stickyNote","position":[528,-320],"typeVersion":1,"id":"88f87ec9-5ecc-4cbc-aafe-c7b7046bc593","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-96,96],"id":"aced255f-2cb9-4e09-800e-0b636a452bfd","name":"Backup Manual Trigger"},{"parameters":{"rule":{"interval":[{"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-96,-96],"id":"966bfb2f-5ea1-42f7-b1f4-e894f2ba324e","name":"Backup Schedule Trigger"}],"connections":{"Globals":{"main":[[{"node":"Get All Workflows","type":"main","index":0}]]},"Get All Workflows":{"main":[[{"node":"Filter Workflow","type":"main","index":0}]]},"Filter Workflow":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Decode","type":"main","index":0}]]},"Decode":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit a file","type":"main","index":0}]]},"Backup Manual Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Backup Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"22b09b36-f7a8-4023-afec-b714cfcd3d46","triggerCount":0,"tags":[]}