workflows/workflow-backups-v1.json
{"createdAt":"2025-08-12T05:03:06.704Z","updatedAt":"2025-08-12T13:33:31.000Z","id":"m6lahERtZQR3NNSo","name":"workflow-backups-v1","active":false,"isArchived":true,"nodes":[{"parameters":{"values":{"string":[{"name":"repo.owner","value":"Aspiand"},{"name":"repo.name","value":"n8n-backups"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"c9253de6-e143-4587-8607-a5c87ad3b4e2","name":"Globals","type":"n8n-nodes-base.set","position":[192,144],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"0c1755b1-1fe9-4849-a54f-5e24dd05d5c3","name":"n8n","type":"n8n-nodes-base.n8n","position":[432,144],"typeVersion":1,"credentials":{"n8nApi":{"id":"yd5BpxBJrH3vBANP","name":"n8n account"}}},{"parameters":{"options":{}},"id":"c565df7d-849e-40c8-86d9-63ed0dd070e1","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[656,144],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"ede84b2e-4355-4386-a2ec-36b6763ea42f","name":"If","type":"n8n-nodes-base.if","position":[1088,224],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"365d0df8-8ed3-450b-91ea-1e403bda32e7","name":"If1","type":"n8n-nodes-base.if","position":[1968,496],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"82c4c98e-fffa-4081-9eb5-3e1d9a82b8a8","name":"Code","type":"n8n-nodes-base.code","position":[1648,192],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"9af08993-90a3-4cd1-adb0-704fb888df11","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[1280,384],"typeVersion":1,"webhookId":"94e3320f-2b03-4278-90ba-1468194b09a6","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"f7ce9847-48d7-4ad6-ac2f-556c3b2d6832","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[2336,704],"typeVersion":1,"webhookId":"399e8a62-8cef-4f0e-a1ea-e59fb3d9bc8d","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"55327066-8d77-4933-af40-88a80fe31bb1","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-32,144],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"1d5e2de4-6d53-42c4-b4e7-38876fd8b8a0","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2496,720],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"33b5858a-bd08-4abf-b4b8-53bef4d9ac93","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[2112,496],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"bba1292b-5882-4124-9061-9798076135a3","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1392,400],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"1a680fb7-6379-4610-8fb0-71c78b61a7b9","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1088,112],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"1735e25d-d766-454f-979b-60df51f237da","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1600,96],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"dfe433ff-90e2-4ba0-b03f-2da66e58e71b","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[368,32],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"a1132c3a-8dd5-473d-b12a-155693c299e1","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[112,272],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"ef0a94bf-22b7-4d1b-ad25-adcfa1e15362","name":"Get a file","type":"n8n-nodes-base.github","position":[896,224],"typeVersion":1,"alwaysOutputData":true,"webhookId":"915f9e03-5d2f-4e64-9528-a658cb8572c8","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"GitHub account"}},"continueOnFail":true}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get a file","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"2532","templateCredsSetupCompleted":true},"pinData":{},"versionId":"6fcc9a70-b7ac-4349-9cea-5cc865054f1a","triggerCount":0,"tags":[]}