workflows/workflow-backups-v1.json
{"createdAt":"2025-08-12T05:03:06.704Z","updatedAt":"2025-08-12T05:24:27.000Z","id":"m6lahERtZQR3NNSo","name":"workflow-backups-v1","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"b09ae4c6-ad75-4b3b-a78a-4cc2d48b2d24","name":"GitHub","type":"n8n-nodes-base.github","position":[1712,320],"typeVersion":1,"alwaysOutputData":true,"webhookId":"2ab4178a-85b9-4573-bb5a-1dc0c2098dd7","retryOnFail":false,"credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"Aspiand"},{"name":"repo.name","value":"n8n-backups"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"639582ef-f13e-4844-bd10-647718079121","name":"Globals","type":"n8n-nodes-base.set","position":[544,224],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"9df89713-220e-43b9-b234-b8f5612629cf","name":"n8n","type":"n8n-nodes-base.n8n","position":[784,224],"typeVersion":1,"credentials":{"n8nApi":{"id":"yd5BpxBJrH3vBANP","name":"n8n account"}}},{"parameters":{"options":{}},"id":"43a60315-d381-4ac4-be4c-f6a158651a00","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1264,240],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"41a7da89-1c8c-4100-8c30-d0788962efc1","name":"If","type":"n8n-nodes-base.if","position":[1904,320],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"ab9246eb-a253-4d76-b33b-5f8f12342542","name":"If1","type":"n8n-nodes-base.if","position":[2784,608],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"72e4a5a4-6dfe-4b5c-b57b-7c1c9625e967","name":"Code","type":"n8n-nodes-base.code","position":[2464,304],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"68f14ac5-14d6-432e-9e6b-25df610eadac","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[2096,480],"typeVersion":1,"webhookId":"d0e0a27d-d654-4df1-9a34-16d65bbfeb1b","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"e50f00a3-292c-4285-b767-8d6ee4606575","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[3152,800],"typeVersion":1,"webhookId":"c51153a9-0aaf-4806-98b2-cbe567a38cd7","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"4b2d375c-a339-404c-babd-555bd2fc4091","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[320,224],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"ea026e96-0db1-41fd-b003-2f2bf4662696","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2896,832],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"9c402daa-6d03-485d-b8a0-58f1b65d396d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[2512,608],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"1d9216d9-bf8d-4945-8a58-22fb1ffc9be8","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1792,512],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"60a3953b-d9f1-4afd-b299-e314116b96c6","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1488,224],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"6df689fb-cb49-4634-9d1e-59648a1e7219","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2000,208],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"f2340ad0-71a1-4c74-8d90-bcb974b8b305","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[720,128],"typeVersion":1},{"parameters":{"content":"Set configuration","height":80},"id":"617bea19-341a-4e9d-b6fd-6b417e58d756","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[464,368],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"11c44302-f1f5-4408-b2c7-9bb7668f7467","leftValue":"={{ $json.isArchived }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[992,224],"id":"29c81bbd-23e5-4d46-b41d-10b1000e6ee8","name":"If2"},{"parameters":{"content":"Ignore archive","height":80,"width":192},"id":"428c986d-86ab-41ae-b633-ab250da2de07","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[960,352],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"If2","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If2":{"main":[[],[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"2532","templateCredsSetupCompleted":true},"pinData":{},"versionId":"f597aec6-2e63-43e6-b380-d6ec2d7d00b9","triggerCount":0,"tags":[]}