workflows/workflow-backups-v2-alpha.json
{"createdAt":"2025-08-13T03:48:13.294Z","updatedAt":"2025-08-13T03:49:51.000Z","id":"dl3H9ZFCNtCDHZDS","name":"workflow-backups-v2-alpha","active":false,"isArchived":false,"nodes":[{"parameters":{"values":{"string":[{"name":"repo.owner","value":"Aspiand"},{"name":"repo.name","value":"n8n-backups"},{"name":"repo.path","value":"workflows/"},{"name":"repo.branch","value":"main"}]},"options":{}},"id":"b4695b17-7a4b-463c-9256-23c7a4629838","name":"Globals","type":"n8n-nodes-base.set","position":[-1968,-368],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"40d0e7d3-dbf5-4688-a456-0f30203b4463","name":"n8n","type":"n8n-nodes-base.n8n","position":[-1808,-368],"typeVersion":1,"credentials":{"n8nApi":{"id":"yd5BpxBJrH3vBANP","name":"n8n account"}}},{"parameters":{"options":{}},"id":"cde162d3-5f86-438b-91cf-97c3c402d7cf","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[-1424,-368],"executeOnce":false,"typeVersion":3},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"9cffa839-aa0b-467f-b0d6-395bd4d968f3","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-2112,-368],"typeVersion":1.2},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{"reference":"={{$node[\"Globals\"].json[\"repo\"][\"branch\"]}}"}},"id":"2540e8c1-5b6f-466e-aeb7-b650ade0431a","name":"Get a file","type":"n8n-nodes-base.github","position":[-1152,-352],"typeVersion":1,"alwaysOutputData":true,"webhookId":"da8e7c64-ae51-4d15-9ee9-1c2b47fef653","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"n8n backup"}},"continueOnFail":true},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=update: {{ $('Loop Over Items').item.json.name }}.json","additionalParameters":{"branch":{"branch":"={{$node[\"Globals\"].json[\"repo\"][\"branch\"]}}"}}},"id":"ed13db07-b3eb-451e-8c5c-414888cb1633","name":"update file","type":"n8n-nodes-base.github","position":[-240,-176],"typeVersion":1,"webhookId":"5001cca3-52ba-43ee-9200-afe3c2f08824","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"n8n backup"}}},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"697fcff0-aa15-437d-9c7a-97fccb4d054f","name":"decode","type":"n8n-nodes-base.code","position":[-704,-368],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"616eff46-d507-4b24-b1a5-8130f89fa536","name":"workflow changed","type":"n8n-nodes-base.if","position":[-480,-208],"typeVersion":2.2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=create: {{ $('Loop Over Items').item.json.name }}.json","additionalParameters":{"branch":{"branch":"={{$node[\"Globals\"].json[\"repo\"][\"branch\"]}}"}}},"id":"e7cc413e-c9c2-434a-b86f-93c4ccc8646f","name":"add file","type":"n8n-nodes-base.github","position":[-704,-208],"typeVersion":1,"webhookId":"32865069-b501-4519-b153-1294f7d7ef3b","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"n8n backup"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"8ce5b7ef-72fd-48c4-a6e5-ae2e0c2f2a7b","name":"is file exists","type":"n8n-nodes-base.if","position":[-944,-352],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8a6438a-2d67-47aa-bd10-6e519cc4b941","leftValue":"={{ $json.isArchived }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1632,-368],"id":"8dd10766-3ace-4119-aee4-2d588b8fdabe","name":"filter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"72262451-acf8-4d66-992f-fd640d541f23","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1056,-736],"id":"ef9079a6-e1ba-47a4-976c-6ede0b32e67f","name":"Filter"}],"connections":{"n8n":{"main":[[{"node":"filter","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get a file","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"is file exists","type":"main","index":0}]]},"update file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"decode":{"main":[[{"node":"workflow changed","type":"main","index":0}]]},"workflow changed":{"main":[[{"node":"update file","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"add file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"is file exists":{"main":[[{"node":"decode","type":"main","index":0}],[{"node":"add file","type":"main","index":0}]]},"filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"2532","templateCredsSetupCompleted":true},"pinData":{},"versionId":"47f95ac4-1538-4e16-8536-610a945a3b14","triggerCount":0,"tags":[]}