workflows/workflow-backups-v2.json
{"createdAt":"2025-08-12T05:29:06.103Z","updatedAt":"2025-08-12T05:51:22.000Z","id":"U2TuQ7hv8IYTlBMB","name":"workflow-backups-v2","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-32,0],"id":"966bfb2f-5ea1-42f7-b1f4-e894f2ba324e","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0fba8066-16ba-474e-9715-cf0541bf2e74","leftValue":"={{ $json.isArchived }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[640,0],"id":"43cf3397-0dce-429f-8516-ebbe11763853","name":"Filter not Archived Workflow"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"repo.owner","value":"Aspiand"},{"name":"repo.name","value":"n8n-backups"},{"name":"repo.branch","value":"main"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"a3c30eb5-7e6a-4fd1-ac13-d8df075fefcc","name":"Globals","type":"n8n-nodes-base.set","position":[192,0],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('Globals').item.json.repo.owner }}","mode":"url"},"repository":{"__rl":true,"value":"={{ $('Globals').item.json.repo.name }}","mode":"url"},"filePath":"={{ $('Globals').item.json.repo.path }}","asBinaryProperty":false,"additionalParameters":{"reference":"={{ $('Globals').item.json.repo.branch }}"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[880,0],"id":"69ef2347-7d6f-4b83-8e49-fbcd35460919","name":"Get a file","webhookId":"20a2ae86-7b8f-4dcc-b8dd-995ca7586c2d","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[416,0],"id":"cca783cc-dd7b-406d-abc2-45ff59eaaeb3","name":"Get All Workflows","credentials":{"n8nApi":{"id":"yd5BpxBJrH3vBANP","name":"n8n account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Globals":{"main":[[{"node":"Get All Workflows","type":"main","index":0}]]},"Filter not Archived Workflow":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"Get All Workflows":{"main":[[{"node":"Filter not Archived Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a4ed186c-0275-49b3-b0a4-64117a11f24c","triggerCount":0,"tags":[]}