workflows/workflow-backups-v2-alpha.json
{"createdAt":"2025-08-13T03:45:42.370Z","updatedAt":"2025-08-13T03:45:42.370Z","id":"UV3ukLoTSpZNJ1He","name":"workflow-backups-v2-alpha","active":false,"isArchived":false,"nodes":[{"parameters":{"values":{"string":[{"name":"repo.owner","value":"Aspiand"},{"name":"repo.name","value":"n8n-backups"},{"name":"repo.path","value":"workflows/"},{"name":"repo.branch","value":"main"}]},"options":{}},"id":"67055ae1-fd25-41ac-b743-f1b3c4b73e45","name":"Globals","type":"n8n-nodes-base.set","position":[-1968,-368],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"e7a2894c-08ea-408b-8ae0-b1a963f2d8d0","name":"n8n","type":"n8n-nodes-base.n8n","position":[-1808,-368],"typeVersion":1,"credentials":{"n8nApi":{"id":"yd5BpxBJrH3vBANP","name":"n8n account"}}},{"parameters":{"options":{}},"id":"43f42a05-4bf2-48ff-a640-b1a9d767f5e6","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[-1424,-368],"executeOnce":false,"typeVersion":3},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"1eeeb631-8f62-47b6-828b-b0054c912af5","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-2112,-368],"typeVersion":1.2},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{"reference":"={{$node[\"Globals\"].json[\"repo\"][\"branch\"]}}"},"path":"bf710363-4c36-47dd-86b8-413193d46bc1"},"id":"ab95a8f2-72fc-4d8e-9e9b-447806b96547","name":"Get a file","type":"n8n-nodes-base.github","position":[-1152,-352],"typeVersion":1,"alwaysOutputData":true,"webhookId":"bf710363-4c36-47dd-86b8-413193d46bc1","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"n8n backup"}},"continueOnFail":true},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json","additionalParameters":{"branch":{"branch":"={{$node[\"Globals\"].json[\"repo\"][\"branch\"]}}"}},"path":"fcd40509-ca45-44a9-93ff-1685d92054c6"},"id":"38cdd4cf-5d50-42be-8355-b74f44d7a705","name":"update file","type":"n8n-nodes-base.github","position":[-240,-176],"typeVersion":1,"webhookId":"fcd40509-ca45-44a9-93ff-1685d92054c6","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"n8n backup"}}},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"000e7c18-e8ce-494d-afcf-4c9b35b638d6","name":"decode","type":"n8n-nodes-base.code","position":[-704,-368],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"855f04e2-9465-407f-b147-1e20632178e9","name":"workflow changed","type":"n8n-nodes-base.if","position":[-480,-208],"typeVersion":2.2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json","additionalParameters":{"branch":{"branch":"={{$node[\"Globals\"].json[\"repo\"][\"branch\"]}}"}},"path":"118f227a-4c63-491c-acab-8f2b2098582a"},"id":"1a8e8894-7fc4-4070-b072-f38a477e97a0","name":"add file","type":"n8n-nodes-base.github","position":[-704,-208],"typeVersion":1,"webhookId":"118f227a-4c63-491c-acab-8f2b2098582a","credentials":{"githubApi":{"id":"oQjobBq62ZuUJvr3","name":"n8n backup"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"4c1cb73e-25d4-42bc-8ee5-0cc42fb6d8a5","name":"is file exists","type":"n8n-nodes-base.if","position":[-944,-352],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8a6438a-2d67-47aa-bd10-6e519cc4b941","leftValue":"={{ $json.isArchived }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1632,-368],"id":"1f80bdd3-3af2-4224-b325-744e22feef0c","name":"filter"}],"connections":{"n8n":{"main":[[{"node":"filter","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get a file","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"is file exists","type":"main","index":0}]]},"update file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"decode":{"main":[[{"node":"workflow changed","type":"main","index":0}]]},"workflow changed":{"main":[[{"node":"update file","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"add file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"is file exists":{"main":[[{"node":"decode","type":"main","index":0}],[{"node":"add file","type":"main","index":0}]]},"filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"2532","templateCredsSetupCompleted":true},"pinData":{},"versionId":"3dcdeae1-51ff-48c6-820a-21507aa1d68d","triggerCount":0,"tags":[]}